{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<p><b>Username:</b> {{ request.user.username }}</p>

<p><b>Account type:</b> {{ request.user.get_account_type_display }}</p>

{% csrf_token %}
<button type="submit" class="btn btn-primary" hx-post="{% url 'logout' %}" hx-push-url='/' hx-target='closest body'>Logout</button>

{% else %}

<h1>You are not signed in</h1>

{% endif %}

<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>
{% endblock %}
